:root{
    --header-font-color :#69D3e9;
}
p{
    text-align: center;
}
.game-title{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.game-title > h1{
    margin: 0;
    font-size: 64px;
    color: var(--header-font-color);
}
.game-name{
    color: #F48530;
}
.winner-msg{
    height: 10px;
}
.container {
    width: 300px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    background-color: #facca9;
    padding: 10px;
}
.item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 20px;
    font-size: 32px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-again{
    display: flex;
    justify-content: center;
}
.restart-btn{
    padding: 10px 20px;
}